.mr-1 {
  margin-right: 1rem;
}

.mr-0 {
  margin-right: 0;
}

.border-right-0 {
  border-right: 0;
}

.border-left {
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
