body {
  overflow-y: hidden;
}

.json-text-container {
  height: 600px;
  overflow-y: auto;
}

.remove-bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.remove-top-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.remove-left-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.remove-right-radius {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.img-center {
  display: flex;
  height: 1.2em;
}

.progress-bar {
  width: 100%;
}
